.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #0a0ac2;
  color: white;
  padding: 20px;
  position: fixed;
  height: 100%;
}

.content {
  margin-left: 280px;
  padding: 20px;
  flex-grow: 1;
  overflow-x: auto;
}
